package ${package}.${moduleName}.entity;

import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Table;

import java.math.BigDecimal;
import java.io.Serializable;
import java.util.Date;
import lombok.Data;

/**
 * ${comments}
 *
 * @author ${author}
 */
@Data
@Table("${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.remarks
	 */
	#if($column.name == "id")
	@Id
	#end
	private $column.className $column.name;
#end
}
